@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Flex", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  background: rgb(165, 225, 166);
  background: radial-gradient(
    circle,
    rgba(165, 255, 166, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  color: #555;
  position: relative;
  overflow: hidden;
}

#fade-div {
  z-index: 1;

  min-width: 100%;
  min-height: 102.5%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecd9ba;
  filter: grayscale(1);
  opacity: 0.8;
  visibility: hidden;

  transition: 0.3s ease;
}

#fade-div.faded {
  visibility: visible;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  padding: 0 16px;
  line-height: 1.4rem;
  text-align: center;
}

.page-title-header {
  font-family: "Bungee Inline", cursive;
  color: #d7f5d3;
  font-size: 48px;
}

.page-container h3 {
  font-weight: 300;
}

.project-modal {
  min-height: 600px;
  width: 70%;
  background-color: rgba(219, 219, 219, 1);

  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 12px;
  box-shadow: 0px 8px 26px rgba(33, 19, 19, 0.5);

  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: row;
}

.project-modal h3 {
  line-height: 2.1rem;
}

.project-modal .project-modal-close-btn {
  position: fixed;
  right: -20px;
  top: -20px;
  height: 60px;
  width: 60px;
  border: 0;

  box-shadow: 0px 8px 26px rgba(33, 19, 19, 0.5);

  border-radius: 50%;
  z-index: 1000;
}

.project-modal .project-modal-close-btn::before,
.project-modal .project-modal-close-btn::after {
  cursor: pointer;
  position: absolute;
  left: 27px;
  top: 15px;
  height: 30px;
  width: 6px;
  content: " ";
  background-color: #222;
}

.project-modal .project-modal-close-btn::after {
  transform: rotate(-45deg);
}
.project-modal .project-modal-close-btn::before {
  transform: rotate(45deg);
}

.project-modal.visible {
  transform: translate(-50%, -50%) scale(1);
}

.project-modal > div {
  flex: 1 50%;
}

.project-modal .image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.project-modal .description-div {
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.project-modal .description-div h3 {
  font-size: 36px;
  /* font-weight: 400; */

  font-family: "Bungee Inline", cursive;
  /* color: #0266bb; */

  /* text-transform: uppercase; */
}

.project-modal .description-div p {
  font-size: 17px;
  font-weight: 200;
  font-style: italic;
  line-height: 1.8rem;
  margin: 12px 0;
}

.project-modal .description-div a {
  text-decoration: none;

  width: 35%;
  background-color: #0266bb;
  color: rgba(219, 219, 219, 1);

  text-align: center;
  letter-spacing: 1px;

  font-size: 12px;
  font-weight: 800;
  border-radius: 3px;
  padding: 14px 0;

  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.project-modal .description-div a:hover {
  background-color: #1582e1;
}

.project-card figure img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 12px;
}

figcaption {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 8px;
}

.project-container {
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, 300px);

  display: grid;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.project-card a,
.contact-container a {
  text-decoration: none;
  color: #0266bb;

  font-size: 16px;
  font-weight: 500;

  transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.project-card a:hover,
.contact-container a:hover {
  color: #1582e1;
}

.project-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 calc(250px + 1rem) rgba(0, 0, 0, 0.2),
    2px 4px 16px rgba(0, 0, 0, 0.2);

  padding: 1rem;
  border-radius: 8px;
}

.contact-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 40px;
  font-weight: 800;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-container a {
  font-size: 48px;
  position: absolute;

  top: 0;
  right: 10px;

  z-index: 12;
  transform: scale(0.9);
}

.contact-container a:hover,
.contact-container a:active,
.contact-container a:focus {
  transform: scale(1.7) rotate(20deg);
}

.contact-container:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  /* z-index: -1; */
  background: rgba(165, 255, 166, 0.5);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);

  transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform: skew(69deg, 0deg);
  -ms-transform: skew(69deg, 0deg);
  -webkit-transform: skew(69deg, 0deg);
}

.contact-container p {
  font-size: 12px;
  padding: 6px;
}

@media screen and (max-width: 1125px) {
  .project-container {
    min-width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .project-container {
    min-width: 300px;
  }
}

@media screen and (max-width: 975px) {
  .project-modal {
    flex-direction: column;
  }

  .project-modal > div {
    width: 100%;
  }

  .project-modal .image-div img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 425px) {
  .page-title-header {
    line-height: 3rem;
  }

  .contact-container a {
    font-size: 24px;
    top: 0;
    right: 5px;
  }

  .contact-container a:hover,
  .contact-container a:active,
  .contact-container a:focus {
    transform: scale(1.75) rotate(20deg);
  }

  .project-modal {
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%) scale(0);
  }

  .project-modal .description-div h3 {
    font-size: 22px;
    margin: 0;
  }

  .project-modal .description-div p {
    font-size: 14px;
    line-height: 1.3rem;
  }

  .project-modal .description-div a {
    font-size: 12px;
    height: 40px;
    padding: 14px;
  }

  .project-modal .project-modal-close-btn {
    top: 97%;
    left: 45%;
    height: 40px;
    width: 40px;
  }

  .project-modal .project-modal-close-btn::before,
  .project-modal .project-modal-close-btn::after {
    left: 17px;
    top: 10px;
    height: 20px;
    width: 4px;
    content: " ";
    background-color: #222;
  }
}
