@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Flex", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  /* max-width: 1100px; */

  background: rgb(165, 225, 166);
  background: radial-gradient(
    circle,
    rgba(165, 255, 166, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* color: #915f5f; */
  /* color: #c07d9a; */
  color: #eee;
  overflow: hidden;
}

#fade-div {
  z-index: 1;

  min-width: 100%;
  min-height: 102.5%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecd9ba;
  filter: grayscale(1);
  opacity: 0.8;
  visibility: hidden;

  transition: 0.3s ease;
}

#fade-div.faded {
  visibility: visible;
}

.page-container {
  /* width: 1200px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 3em;
  /* padding: 2rem; */

  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  padding: 0 16px;
  line-height: 1.4rem;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.5px;
  /* color: #333; */
}

h1 span {
  font-weight: 800;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

.project-modal {
  min-height: 600px;
  width: 70%;
  background-color: rgba(219, 219, 219, 1);
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 12px;
  box-shadow: 0px 8px 26px rgba(33, 19, 19, 0.5);

  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: row;
}

.project-modal h3 {
  line-height: 2.1rem;
}

.project-modal .project-modal-close-btn {
  position: fixed;
  right: -20px;
  top: -20px;
  height: 60px;
  width: 60px;
  border: 0;
  background-color: rgba(219, 219, 219, 1);

  box-shadow: 0px 8px 26px rgba(33, 19, 19, 0.5);

  border-radius: 50%;
  z-index: 1000;
}

.project-modal .project-modal-close-btn::before,
.project-modal .project-modal-close-btn::after {
  cursor: pointer;
  position: absolute;
  left: 27px;
  top: 15px;
  height: 30px;
  width: 6px;
  content: " ";
  background-color: #444;
}

.project-modal .project-modal-close-btn::after {
  transform: rotate(-45deg);
}
.project-modal .project-modal-close-btn::before {
  transform: rotate(45deg);
}

.project-modal.visible {
  transform: translate(-50%, -50%) scale(1);
}

body .project-modal.visible {
  /* overflow: hidden; */
}

.project-modal > div {
  flex: 1 50%;
}

.project-modal .image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.project-modal .description-div {
  /* max-height: 100%; */
  /* max-width: 100%; */
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 20px; */
  /* height: 70%; */
  padding: 20px;
  text-align: center;
}

.project-modal .description-div h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-modal .description-div p {
  font-size: 18px;
  line-height: 2rem;
  margin: 12px 0;
  /* padding: 22px 0 72px; */
}

.project-modal .description-div a {
  text-decoration: none;

  height: 50px;
  width: 40%;
  background-color: #0266bb;
  color: rgba(219, 219, 219, 1);

  text-align: center;
  letter-spacing: 1px;

  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 0;

  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.project-modal .description-div a:hover {
  background-color: #915f5f;
  background-color: #1582e1;
}

.project-card figure img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 12px;
}

figcaption {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 8px;
}

.project-container {
  /* margin: 2rem; */
  padding: 2rem;
  /* background-color: rgba(222, 193, 155, 0.7); */
  /* box-shadow: 0px 8px 12px rgba(222, 193, 155, 0.6); */
  /* border-radius: 8px; */
  /* min-width: 900px; */
  grid-template-columns: repeat(auto-fit, 300px);

  display: grid;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.project-card a,
footer a {
  text-decoration: none;
  color: #794949;
  color: #0266bb;

  font-size: 16px;
  font-weight: 500;

  transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.project-card a:hover,
footer a:hover {
  color: #915f5f;
  color: #1582e1;
}

.project-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(194, 233, 191, 0.8); */
  /* background-color: rgba(255, 255, 255, 0.6); */
  box-shadow: inset 0 0 calc(250px + 1rem) rgba(0, 0, 0, 0.2);

  /* backdrop-filter: blur(10px); */
  /* max-width: calc(250px + 1rem); */
  /* max-height: calc(250px + 1rem); */
  /* --webkit-backdrop-filter: blur(10px); */

  padding: 1rem;
  border-radius: 8px;

  /* background-color: inherit; */
  /* border: 1px solid #915f5f; */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  height: 40px;
  /* height: 100px; */
  /* background-color: #333; */
  padding: 1em;
  /* color: #333; */
  font-weight: 800;

  /* display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 34px;
  padding: 12px;
}

footer p {
  font-size: 12px;
  padding: 6px;
}

footer > * {
  margin: 0 8px;
}

@media screen and (max-width: 1125px) {
  .project-container {
    min-width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .project-container {
    min-width: 300px;
  }

  /* h1 {
    font-size: 2.5rem;
  } */
}

@media screen and (max-width: 975px) {
  .project-modal {
    flex-direction: column;
  }

  .project-modal > div {
    width: 100%;
    /* height: 50%; */
  }

  .project-modal .image-div img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 400px) {
  .project-modal {
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%) scale(0);
  }

  .project-modal .description-div h3 {
    font-size: 22px;
    margin: 0;
  }

  .project-modal .description-div p {
    font-size: 14px;
    line-height: 1.3rem;
    /* margin: 4px; */
  }

  .project-modal .description-div a {
    font-size: 12px;
    height: 40px;
    padding: 14px;
  }

  .project-modal .project-modal-close-btn {
    top: 97%;
    left: 45%;
    height: 40px;
    width: 40px;
  }

  .project-modal .project-modal-close-btn::before,
  .project-modal .project-modal-close-btn::after {
    left: 17px;
    top: 10px;
    height: 20px;
    width: 4px;
    content: " ";
    background-color: #222;
  }
}
