/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* credit where credit is due 
https://www.joshwcomeau.com/css/designing-shadows/
*/

:root {
  /* --color-near-black: rgba(11, 11, 11, 0.3); */
  --default-font-color: rgb(34, 34, 34);
  --default-page-background-color: rgb(219, 219, 219);
  --link-color-visited: rgb(99, 26, 38);
  --link-color: rgb(80, 33, 41);
  --card-box-shadow: inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

html,
body {
  color: var(--default-page-background-color);
  background: var(--default-font-color);

  /* color: #d2cfcf; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: hidden; */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 2rem 0;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1.4rem;
}

.container__hero {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__portfolio__projects {
  /* background-color: red; */
  width: 80%;
  height: 400px;
  gap: 12px;

  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  /* justify-content: center; */
  align-items: center;
  overflow-x: scroll;
}

.container__portfolio__projects::-webkit-scrollbar {
  display: none;
}

.project__card__body {
  cursor: pointer;

  border: 1px solid var(--color-near-black);
  padding: 1rem;
  border-radius: 8px;
  /* width: 30%; */
  height: 300px;
  min-width: 300px;
  /* background-color: blue; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  box-shadow: var(--card-box-shadow);
}

.portfolio__project__img {
  border-radius: 8px;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__links, .container__external__urls {
  /* background-color: purple; */
  /* width: 100%; */
  display: block;
  /* width: 100px; */
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.url__button {
  /* display: block; */
  color: var(--default-page-background-color);
  background-color: var(--link-color);
  border-radius: 4px;
  /* width: 200px; */
  padding: 0.5rem 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 200;
  font-size: 0.7rem;

  box-shadow: var(--card-box-shadow);

  transition: all 0.25s linear;
}

.url__button:hover, .url__button:focus {
  transform: scale(1.02) translateY(-5px);
  background-color: var(--link-color-visited);
}

a {
  color: var(--link-color-unvisited);
  text-decoration: none;
}

a:visited {
  color: var(--link-color-visited);
}

nav .link__portfolio__item, nav .link__contact__item {
  font-size: 0.75em;
  margin: 0 4px;
  text-transform: uppercase;
  font-weight: 500;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

nav .link__portfolio__item:hover, nav .link__contact__item:hover, nav .link__portfolio__item:active, nav .link__contact__item:active {
  /* transform: scale(1.02); */
  transform: translateY(-1px);
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
}

.nav__list {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 100%;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav .nav__contact {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.nav__list__item {
  list-style-type: none;
}

label.toggle__label {
  cursor: pointer;

  margin-bottom: 0.25rem;
  letter-spacing: 0.75px;
  font-weight: 700;
}

label.toggle__label + li {
  display: flex;
  flex-direction: row;

  margin: 0.25rem;
}

#container__main__left {
  background-color:peru;
  color: var(--default-page-background-color);
}

.container__main {
  height: 100vh;

  display: grid;
  grid-template-columns: 25% 75%;
 
}

.container__main__right {

  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
}



.container__post__leadin {
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding-left: 12px;

  border-left: 7px solid var(--post-border-color);
}

.container__post__leadin #post__timestamp {
  font-size: 0.75rem;
}

.post__title {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--post-border-color);
}

.post__snippet {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.post__link {
  font-size: 22px;
  margin: 0.5rem 0;
}

@media screen and (max-width: 400px) {
  .container__main {
    grid-template-columns: 1fr;
    grid-template-rows: 75% 25%;
    row-gap: 0.5rem;
  }

  .container__main__right {
    order: -1;
  }

  nav {
    flex-direction: row;
    padding-left: 1rem;
  }

  nav h4 {
    display: none;
  }

  nav > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: lime; */
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 13px;
  }

  .nav__list__item {
    font-size: 14px;
  }



  nav .nav__contact {
    height: 100%;
    width: 40%;

    /* background-color: lime; */
  }

  nav .nav__contact div {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

label.toggle__label + li {
  margin-left: -0.2rem
}
  
}