/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-font-color: rgb(45, 43, 38);
  --default-page-background-color: rgb(253, 250, 250);
  --link-color-unvisited: rgb(24, 166, 152);
  --link-color-visited: rgb(7, 77, 70);
  --post-border-color: rgba(255, 192, 203, 1);
  --post-box-shadow: 3px 4px 0px rgba(255, 192, 203, 0.65);
}

html,
body {
  background: var(--default-page-background-color);
  color: var(--default-font-color);

  /* color: #d2cfcf; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  letter-spacing: 0.55px;
  color: var(--link-color-unvisited);
  font-weight: 500;

  transition: all 0.2s linear;
}

a:visited {
  color: var(--link-color-visited);
}

a:hover,
a:focus {
  /* transform: scale(1.05); */
  text-shadow: 1rem 2px 0.75rem var(--post-border-color);
}

nav {
  /* position: fixed;
  top: 0;
  right: 0; */
  /* left: 0; */
  /* right: 0; */

  /* width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 50%;
  text-align: center;
  /* height: 128px; */
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  /* margin-top: 24px; */
}

#container__header {
  /* background-color: black; */
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */

  /* min-height: 200px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: flex-end; */
  place-content: center;
  /* justify-content: center; */
  /* align-items: center; */
}

.container__main {
  width: 100vw;
  max-width: 1100px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 0 1.75rem;

  overflow-x: hidden;
}

.container__post__main {
  border: 2px solid var(--post-border-color);
  box-shadow: var(--post-box-shadow);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 2rem 0;
}

.container__post__leadin {
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.container__post__leadin .post__timestamp {
  color: #555;
  margin-right: 12px;
  font-size: 13px;
}

.header__major {
  font-size: 48px;
  font-weight: 900;
}

.post__snippet {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
}

.post__link {
  font-size: 22px;
  margin: 0.5rem 0;
}
