/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* credit where credit is due 
https://www.joshwcomeau.com/css/designing-shadows/
*/

:root {
  /* --color-near-black: rgba(11, 11, 11, 0.3); */
  --transition-standard: all 0.25s linear;
  --default-font-color: rgb(219, 219, 219);
  --default-page-background-color: rgb(34, 34, 34);
  --link-color-visited: rgb(99, 26, 38);
  --link-color: rgb(80, 33, 41);
  --card-box-shadow: inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);

  --icon-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);

  --icon-text-shadow: text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px ;
}

html,
body {
  color: var(--default-font-color);
  background: var(--default-page-background-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

#dev__name, #dev__tagline {
  margin-bottom: 1.5rem;
}

#dev__name {
  font-size: 4rem;
  font-weight: 900;
}

#dev__tagline {
  font-style: oblique;
  font-size: 1.3rem;
  font-weight: 400;
}

.container__hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__portfolio__projects {
  width: 80%;
  max-width: 700px;
  min-height: 500px;
  gap: 12px;

  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  overflow-x: scroll;
}

.container__portfolio__projects::-webkit-scrollbar {
  display: none;
}

.project__card__body {

  border: 1px solid var(--color-near-black);
  padding: 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  /* width: 30%; */
  min-height: 350px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  box-shadow: var(--card-box-shadow);
}

.project__card__body .project__info {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.project__card__body .project__info .project__info__name {
  cursor: default;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.025rem;
}

.project__card__body .project__info .project__info__btn {
  cursor: pointer;
  
  height: 25px;
  width: 25px;
  font-size: 1.1rem;
  font-weight: 800;
  border: none;
  
  border-radius: 50%;
  color: rgb(12, 54, 12);
  background-color: rgba(34, 92, 34, 1);
  transition: var(--transition-standard);
}

.project__card__body .project__info .project__info__btn:hover, .project__card__body .project__info .project__info__btn:active {
  transform: translateY(-2px);
  box-shadow: var(--icon-box-shadow);
}

.portfolio__project__img {
  border-radius: 8px;
  width: 100%;
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: contain;
     object-fit: contain;
}

.project__details {
  width: 100%;
  /* min-height: 50px; */
  min-height: 100px;
  
  opacity: 0;

  /* transform: scale(0); */
  /* will-change: transform; */

  display: none;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
  /* align-items: center; */

  transition: all 0.25s ease-in-out;
}

.project__details.visible {
  display: flex;
  /* transform: scale(1); */
  opacity: 1;
  margin: 0.25rem 0;

  
 /* display: flex; */
 

}

.project__details .project__details__text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-near-black);
  font-style: oblique;
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;
}

.project__details .project__details__icon__container {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.project__details .project__details__icon__container .project__lang__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.project__links {
  display: block;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.url__button {
  color: var(--default-font-color);
  background-color: var(--link-color);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 200;
  font-size: 0.7rem;

  box-shadow: var(--card-box-shadow);

  transition: var(--transition-standard);
}

.url__button:hover, .url__button:focus {
  transform: scale(1.02) translateY(-3px);
  background-color: var(--link-color-visited);
}

.container__personal__urls {
  height: 200px;
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__personal__urls svg {
  width: 32px;
  height: 32px;
  transition: var(--transition-standard);
  -webkit-filter: grayscale(1);
          filter: grayscale(1)
}

.container__personal__urls svg:hover, .container__personal__urls svg:focus {
  transform: scale(1.02) translateY(-5px);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}


/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  #dev__name, #dev__tagline {
    margin-bottom: 1.1rem;
  }
  
  #dev__name {
    font-size: 2.7rem;
    font-weight: 900;
  }
  
  #dev__tagline {
    font-style: oblique;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .container__portfolio__projects {
    /* width: 80%; */
    /* width: 30%; */
    width: 400px;
    /* height: 500px; */
    /* min-height: 500px; */
    /* gap: 12px; */
    padding-bottom: 1rem;

    /* visibility: hidden; */
    display: grid;
    grid-template-columns: repeat(1fr);
    overflow-x: hidden;
  }
  
  .container__personal__urls svg {
    width: 26px;
    height: 26px;
  }
}